/**
 * Custom style for Rhodycast App
 */

/**
 * Need to set padding for the body so content flows beneath the navbar
 */
body {
    padding-top: 50px;
    padding-right: 0px !important
}

/**
 * Custom navbar theming
 */
.navbar {
    background-color: #00B386; /* background color will be blue for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    border: #00B386;
    filter: none;
    padding-bottom: 0;
}

.navbar .navbar-brand {
    color: #FFFFFF;
}

.navbar .navbar-brand:hover {
    color: #000099;
}

.navbar .nav > li > a {
    color: #FFFFFF;
}

.navbar .nav > li > a:hover {
    color: #000099;
}

.navbar .nav > li > a:active {
    color: #000099;
}

/**
 * Beta tag
 */
#betaTag {
    background-color: #FFFFFF;
    color: #00B386;
    border-radius: 5px;
    font-size: 15px;
    padding: 3px;
}

#betaTag li > a:hover, a:hover span {
    background-color: #000099 !important;
}

/**
 * Buoy Map Page (Index)
 */
.buoy-map {
    height: 90vh;
}
